body{
    width: 40%;
    margin: auto;
    background-color: grey;
}

.survey-div{
    background-color: lightgrey;
    margin-top: 5%;
    margin-bottom: 5%;
}
.title-div{
    background-color: white;
}
.title-text{
    color: darkred;
    text-align: center;
    padding: 25px 0px 25px 0px;
}
table{
   width: 95%;
   margin: auto;
}
.question{
    color: darkred;
    
}

tr, td, th{
    color: darkred;
    width: 50%;
}

textarea{
    width: 95%;
    height: 20%;
    margin: auto;
    display: block;
    border: none;
}

h3{
    padding-left: 20px;
}

button{
    width: 25%;
    margin: auto;
    background-color:dimgrey;
    color: white;
    padding: 15px;
    border-radius: 7px;
    border-style: none;
}
.div-button{
    text-align: center;
    width: 90%;
    margin: auto;
}

.subheading{
    color: darkred;
    width: 50%;
    font-weight: bold;
    font-size: large;
}

.input-fields{
    width: 95%;
    height: 35px;
}
